@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");


html {
    font-size: 1em; 
}
  
body {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #fdfdfd;
    line-height: 1.5;
    background-color: #25252c;
}

body.blue {
    background-color: #158df7;
}

body.green {
    background-color: #20bc71;
}

body.red {
    background-color: #e91b3e;
}

body.yellow {
    background-color: #f0ac01;
}

body.purple {
    background-color: #7b2ed7;
}

body.magenta {
    background-color: #e91d8d;
}

h1,
h2 {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    color: inherit;
    line-height: 1.2; 
}

h1 {
    font-size: 3.25em;
    letter-spacing: 0.08em;
}
  
h2 {
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: .01em;
}

p {
  margin-bottom: 16px; 
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

section {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
}

.content {
    margin: auto;
    text-align: center;
}

.icon {
    font-size: 5em;
}

.icon-black::before {
    content: "\f6be";
}
.icon-blue::before {
    content: "\f4fb";
}
.icon-green::before {
    content: "\f52e";
}
.icon-red::before {
    content: "\f5d1";
}
.icon-yellow::before {
    content: "\f185";
}
.icon-purple::before {
    content: "\f6fc";
}
.icon-magenta::before {
    content: "\f56b";
}

@media (min-width: 768px) {
    section {
        max-width: 720px;
    }
}
@media (min-width: 1024px) {
    section {
        max-width: 968px;
    }
}
@media (min-width: 1200px) {
    section {
        max-width: 1104px;
    }
}